#game {
 display: inline-block;
 border: 1px solid black;
 margin: 0;
 padding: 0;
 font-size: 0;
}

.viewportContainer {
 border: 1px solid black;
 text-align: left;
 overflow: hidden;
 height: 100px;
 width: 100px;
 display: inline-block;
 background-color: #F6C;
 margin: 0;
 padding: 0;
}

.viewport {
 position: relative;
 margin: 0;
 padding: 0;
}

.gameObject {
 z-index: 1000;
 position: absolute;
 border: none;
 background-color: #F0F;
 height: 10px;
 width: 10px;
 display: inline-block;
}

.gameObject_BOUNDS {
 z-index: 1001;
 position: absolute;
 border: none;
 background-color: #90F;
 opacity: 0.4;
 filter: alpha(opacity=40)
 height: 10px;
 width: 10px;
 display: inline-block;
}

